:root {
    --color-primary: #DD082F;
    --color-secondary: #FFCC02;
    --color-tertiary: #3B020D;
    --color-danger: #972323;
    --color-info: #519AFB;
    --color-info-2: #2e5c98;
    --color-success: #2FF901;
    --color-success-2: #23a805;
    --font-size: 17px;
}

* {
    padding: 0;
    margin: 0;
    font-size: var(--font-size);
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background: var(--color-tertiary);
}

.btn {
    border: 0;
    outline: 0;
    border-radius: 100%;
    padding: 0;
    width: 3rem;
    height: 3rem;
}

.btn-power {
    background: var(--color-tertiary);
    color: white;
    cursor: pointer;
    box-shadow: 0.1rem 0.1rem 0.1rem black;
    transition: all 0.999ms;
}

.btn-power:hover {
    background: var(--color-danger);
    box-shadow: 0.1rem 0.1rem 0.4rem black;
}

.btn-search {
    background: var(--color-info-2);
    color: white;
    cursor: pointer;
    box-shadow: 0.1rem 0.1rem 0.1rem black;
    transition: all 0.999ms;
}

.btn-search:hover {
    background: var(--color-info);
    box-shadow: 0.1rem 0.1rem 0.4rem black;
}

.btn-controls {
    background: var(--color-success-2);
    color: white;
    cursor: pointer;
    box-shadow: 0.1rem 0.1rem 0.1rem black;
    transition: all 0.999ms;
}

.btn-controls:hover {
    background: var(--color-success);
    box-shadow: 0.1rem 0.1rem 0.4rem black;
}

.box-pokedex {
    background: var(--color-primary);
    width: 25rem;
    margin: 4rem auto;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: 1.5rem;
}

.box-header {}

.box-body {
    background: white;
    border: 0.5rem solid gray;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.name-pokemon {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.view-1 {
    width: 100%;
}

.view-1>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.view-1>div>img {
    height: 10rem;
    width: 10rem;
}
.view-1>div>ul{
    width: 100%;
    padding: 0 1rem;
    list-style: none;
}
.view-1>div>ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.2rem;
    border-bottom: 0.1rem black solid;
}

.box-footer {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.box-form {
    margin-top: 0.5rem;
}

.box-form>form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.input-text {
    background: var(--color-secondary);
    padding: 0.3rem 0.6rem;
    border-radius: 0.5rem;
    display: grid;
    width: 100%;
}

.input-text>label {
    font-size: 0.6rem;
    font-style: oblique;
    color: #424242;
}

.input-text>input {
    border: 0;
    outline: 0;
    padding-left: 0.5rem;
    padding-bottom: 0.1rem;
    padding-top: 0.1rem;
    padding-right: 0.3rem;
    border-radius: 0.1rem;
}

.input-button {}